@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: #fff;
}

@keyframes pulseGlow {
  0%, 100% { text-shadow: 0 0 10px rgba(0, 194, 255, 0.3); }
  50% { text-shadow: 0 0 25px rgba(0, 194, 255, 0.6); }
}